@model Grouply.ViewModels.Home.HomeFeedViewModel
@{
    ViewData["Title"] = "Home Feed";
}

<div class="max-w-2xl mx-auto mt-6">

    <!-- Tabs -->
    <ul class="nav nav-tabs mb-4" id="feedTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="following-tab" data-bs-toggle="tab" data-bs-target="#following"
                type="button" role="tab" aria-controls="following" aria-selected="true">Following</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="foryou-tab" data-bs-toggle="tab" data-bs-target="#foryou" type="button"
                role="tab" aria-controls="foryou" aria-selected="false">For You</button>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade show active" id="following" role="tabpanel" aria-labelledby="following-tab">
            @if (!Model.FollowingPosts.Any())
            {
                <p class="text-center text-gray-500">You haven't joined any groups yet or no posts available.</p>
            }
            else
            {
                @foreach (var post in Model.FollowingPosts)
                {
                    @Html.Partial("~/Views/Shared/PostCard.cshtml", post)
                }
            }
        </div>

        <div class="tab-pane fade" id="foryou" role="tabpanel" aria-labelledby="foryou-tab">
            @foreach (var post in Model.ForYouPosts)
            {
                @Html.Partial("~/Views/Shared/PostCard.cshtml", post)
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Optional: you can add swipe support for mobile later
    </script>
}