@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<h2 class="mb-4 d-flex justify-content-between align-items-center">
    Home Feed
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-primary" asp-controller="Group" asp-action="Create">
            <i class="bi bi-plus-circle me-1"></i> Create Group
        </a>
    }
</h2>